.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("https://image.freepik.com/free-photo/white-hexagon-pattern-background-3d-rendering_41470-446.jpg");
  font-family: "Amatic SC", cursive;
  font-size: 25px;
}
strong {
  font-size: 25px;
}

.submit-button {
  color: yellow;
  background-color: black;
  font-family: "Amatic SC", cursive;
}

.submit-button:hover {
  color: black;
  background-color: yellow;
  font-family: "Amatic SC", cursive;
}

input {
  padding: 10px 30px;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

button {
  padding: 10px 30px;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

.delete-button:hover {
  background-color: red;
  color: White;
}

.navbar {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  background-color: grey;
  border-radius: 20px;
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}
.nav-link:hover {
  background-color: black;
  color: yellow;
  border-radius: 100%;
}

.post {
  margin: 30px;
  padding: 20px;
  background-color: white;
  border: 5px black solid;
  border-radius: 10px;
}

.post-link {
  text-decoration: none;
}

.post-title:hover {
  text-decoration: none;
  color: yellow;
  background-color: black;
  padding: 3px;
}
.posts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
  background-color: white;
  border-radius: 20px;
}
